<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaflet Map with Current Location</title>
    <!-- Include Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Include Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #map { /* Define a CSS style for your map container */
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        var mymap = L.map('map'); // Create a map instance
        var marker; // Declare a variable to store the marker

        // Add the tile layer (map layer)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

        // Function to handle the success of geolocation
        function onLocationFound(e) {
            var radius = e.accuracy / 2;

            // Clear previous marker if exists
            if (marker) {
                mymap.removeLayer(marker);
            }

            // Add a marker for the current location
            marker = L.marker(e.latlng).addTo(mymap)
                .bindPopup("You are within " + radius + " meters from this point").openPopup();

            // Set the view to the user's location with a certain zoom level
            mymap.setView(e.latlng, 15);
        }

        // Function to handle the error of geolocation
        function onLocationError(e) {
            alert(e.message);
        }

        // Try to get user's current location using Geolocation API
        mymap.locate({setView: true, maxZoom: 16}); // This will trigger the 'locationfound' event

        // Event listeners for location found and error
        mymap.on('locationfound', onLocationFound);
        mymap.on('locationerror', onLocationError);
    </script>
    <div>
        <form action="{% url 'web:login' %}" method="get">
            <button type="submit">Student Login</button>
        </form>
    </div>

    <!-- Div for Mentor Login Button -->
    <div>
        <form action="{% url 'web:mentor_login' %}" method="get">
            <button type="submit">Mentor Login</button>
        </form>
    </div>

    <!-- Div for Applying for Mentor Button -->
    <div>
        <form action="{% url 'web:apply_for_mentor' %}" method="get">
            <button type="submit">Apply for Mentor</button>
        </form>
    </div>
</body>
</html>
