<!-- student_login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
</head>
<body>
    <h1>Student Login</h1>
    <div>
        <form action="#" method="get">
            <button type="submit">sign in</button>
        </form>
    </div>

    <!-- Div for Mentor Login Button -->
    <div>
        <form action=".." method="get">
            <button type="submit">signup</button>
        </form>
    </div>
</body>
</html>
